:host {
  display: block;
}

.chat-emoji {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.2;
  vertical-align: -0.1em;
}

.chat-emoji-large {
  font-size: 2.75rem;
  line-height: 1.1;
  vertical-align: middle;
}

.chat-text-emoji-only {
  line-height: 1.1;
}
